<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/338bcc7f-3fbd-47d7-b60b-fccc3fd30725/resourceGroups/assignment-three/providers/Microsoft.ApiManagement/service/ShawnJosephAssignment3/apis/AssignmentThree</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/338bcc7f-3fbd-47d7-b60b-fccc3fd30725/resourceGroups/assignment-three/providers/Microsoft.Web/sites/shawnjosephapplicationthree</ResourceId>
    <ResourceGroup>assignment-three</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://shawnjosephapplicationthree.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>72494c64-1ce1-4399-8241-4b45e8acd854</ProjectGuid>
    <PublishUrl>https://shawnjosephapplicationthree.scm.azurewebsites.net/</PublishUrl>
    <UserName>$shawnjosephapplicationthree</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>