<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://azurefunctionassignment4.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/338bcc7f-3fbd-47d7-b60b-fccc3fd30725/resourceGroups/assignment-four/providers/Microsoft.Web/sites/azurefunctionassignment4</ResourceId>
    <UserName>$azurefunctionassignment4</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://azurefunctionassignment4.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>